@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.jumbotron{
  padding-left: 0px;
  padding-right: 0px;
  
  background-color: #2e5765;
  
color: #e2e2e2;
height: 100%;

}
h1,h2,h3,h4,.lead,.btn,.navbar a {
  font-family: 'Open Sans', sans-serif;
  /*--text-transform:uppercase; --*/
  /*--font-family:'Voltaire',Arial,sans-serif; --*/
 /*-- letter-spacing:2px;--*/
}
body p {
            font-style: italic;
            font-weight: 300; /* You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
        }




.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(192,192,192,0.8);
}
.progress.active.my-reverse-class .progress-bar {
  -webkit-animation-direction: reverse;
     -moz-animation-direction: reverse;
      -ms-animation-direction: reverse;
       -o-animation-direction: reverse;
          animation-direction: reverse;
}

body {
  padding-top: 0px;
  background-color: rgba(192,192,192,0.8);
  background-color: #2e5765;
 }
div.mywrap  {
  padding-top: 0px;
  width: 100%;
  background-color: rgba(128, 128, 255, 0.8);
}


.navbar-inverse{

line-height: 0px;
filter: none;
color: #FFF;
background: rgba(65, 137, 146, 0.5);

}

.nav {
    color: #FFF;
 }
 
#video_controls_bar div{
background-color: #333;
padding: 10px;
}

#video_player_box div{
background: #000;
margin: 10px auto;
}

#id_name, #id_email, #id_message, #cc_myself, #sender, #subject

{color: rgb(33,33,33);}

textarea #name {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.bk{
     color: #050000;
}
div.justified {
        display: flex;
        justify-content: center;
        color: #050000;
    }
div.justifiedR {
        display: flex;
        float:right;
        color: #050000;
    }
div.justifiedT {
        display: flex;
        justify-content: center;
        color: #FFFCFC;
            }
div.justifiedBT {
        display: flex;
        justify-content: center;
        color: #000000;
}
    .bs-example{
	margin: 20px;
}
.open-modal{
	width: 200px;
	position: absolute;
	margin: 0 auto;
	top: 20px;
	right: 0;
	left: 0;
}
 
div.myerr{
        display: flex;
        
        color: #910e06;
}
.video-js {padding-top: 0%}
.vjs-fullscreen {padding-top: 0px}
.vjs-text-track-display{visibility: hidden}
.videocontent {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color:transparent;
    
}

.featurette {
  background: #2e5765;
  padding: 50px 0;
  color: #ffffff;
}

.featurette-item {
  margin-bottom: 15px;
}

.featurette-item > i {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

.featurette-item > i:hover {
  font-size: 68px;
}
div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ffffff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    font-size:small;
    width: 150px;
    margin: 5px;
}

.raisedbox {
line-height:2em;
    /*text-align:center; */
    margin:2em 4em;
    border:6px outset #9a9;
    background:#efe;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4); 
    
}
</style>        
  
    /*
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;                */